body, html {
    height: 100%;
    margin: 0; /* Remove default margin to ensure full height */
}

body {
    background: linear-gradient(to bottom, #262352, #262332); /* Adjust colors as needed */
    color: white;
    font-family: 'Arial', sans-serif;
}

header, nav, main, footer {
    padding: 20px;
}

header {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Distribute items with equal space between them */
}

nav li {
    flex: 1; /* Distribute the available space equally among list items */
    text-align: center; /* Center the content within each list item */
    margin: 0 calc(1/14 * 100vw); /* Adjust the margin as needed (1/14th for margins) */
}

nav a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent; /* Set background color to transparent */
    overflow: visible; /* Adjusted to "visible" */
}

nav a img {
    width: calc(1/7 * 100vw); /* Adjust the width as needed (1/7th for icons) */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 5px; /* Adjust the spacing between the icon and text */
    transition: opacity 0.1s ease-in-out; /* Add a transition for the opacity property */
}

nav a span {
    transition: opacity 0.1s ease-in-out; /* Add a transition for the opacity property */
}

nav a:hover {
    background-color: transparent; /* Set background color to transparent during hover */
}

nav a:hover img,
nav a:hover span {
    opacity: 0.3; /* Adjust the opacity level as needed */
}

main section {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
