@font-face {
    font-family: 'FuturaBook';
    src: url('fonts/Futura Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, html {
    height: 100%;
    margin: 0;
}

body {
    background: #262332;
    color: white;
    font-family: 'Arial', sans-serif;
}

header, nav, main, footer {
    padding: 20px;
}

header {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav li {
    flex: 1;
    text-align: center;
    margin: 0 calc(1/14 * 100vw);
}

nav a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    overflow: visible;
}

nav a img {
    width: calc(1/7 * 100vw);
    height: auto;
    margin-bottom: 5px;
    transition: opacity 0.2s ease-in-out;
}

nav a span {
    transition: opacity 0.2s ease-in-out;
}

nav a:hover {
    background-color: transparent;
}

nav a:hover img,
nav a:hover span {
    opacity: 0.1;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    height: 100vh; /* Set the height to 100% of the viewport height */
    margin-bottom: 20px; /* Adjust the gap between sections */
}

#profile {
    background-color: transparent; /* Add a background color for visual distinction */
}

#projects {
    background-color: transparent; /* Add a background color for visual distinction */
}

#contact {
    background-color: transparent; /* Add a background color for visual distinction */
}

footer {
    position: fixed; /* You can use 'fixed' or 'absolute' depending on your needs */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px; /* Adjust the padding as needed */
    background-color: transparent; /* Adjust the background color as needed */
    color: white;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007BFF; /* Adjust the color as needed */
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  cursor: pointer;
}

#back-to-top a {
  text-decoration: none;
  color: white;
}

